$color-primary: #271c47;
$color-secondary: #3442b5;
$color-accent: #f7ca11;
$color-highlight: #3019b2;

$color-white: #ffffff;
$color-white-soft: #e7e7e7;
$color-background: #f4f4f4;
$color-border: #dedede;
$color-border-strong: #bdbdbd;
$color-divider: #f0f0f0;
$color-input: #f6f5f2;

$text-primary: #3f3f40;
$text-secondary: rgba(33, 33, 33, 0.71);
$text-muted: #4e4e4e;
$text-light: #808080;
$text-placeholder: #676767;
$text-disabled: #9f9f9f;
$text-inverse: #ffffff;

$color-filter-item: #3b3b3b;
$color-counter: #d9d9d9;
